/* common */
body{
  font-family: 'Noto Sans KR', sans-serif;
}

.inner{
  width:100%;
  max-width:1610px;
  margin:0 auto;
}



/* header */
header > .inner{
  text-align:center;

}
.header_main_logo {
  display:inline-block;
  margin:30px 0;
}

.header_menu_list{
  display:flex;
  justify-content: center;
  padding-bottom:20px;
  margin:0 auto;
  width:100%;
  max-width:1000px;
}
.header_menu_list > li{

  width:20%;

}
.header_menu_list > li > a{
  display:block;
}
.header_menu_list > li > a:hover{
  color:#616650;
  font-weight:600;
}



/* main */

.main_banner_image_wrap{
  position:relative;
}
.main_banner_images{
width:100%;

}

.main_banner_text{
  text-align:center;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50% , -50%);
  width:100%;
}
.main_banner_text > h1{
  font-size:45px;
  letter-spacing:1px;
  color:#383838;
  font-weight:600;
  margin-bottom:10px;
 
}
.main_banner_text > span{
  font-size:22px;
  color:#383838;
}

.shop_now{
  border:1px solid #383838;
  font-size:18px;
  color:#383838;
  padding:12px 24px;
  font-weight:400;
  letter-spacing: 2px;
  display:block;
  margin:40px auto 0;
  cursor:pointer;
  transition:0.4s;
}
.shop_now:hover{
  color:#fff;
  background-color:#383838;
  
}


.main_banner_type{
  display:flex;
  margin:0 -5px;
  padding:15px 0 150px;
}
.main_banner_item{
  width:33.333334%;
  padding:0 5px;
  text-align:center;
  
}

.main_banner_type_images{
  width:100%;
  
}
.main_banner_item_kind > p{
 
  font-size:28px;
  font-weight:700;
  color:#222;
}
.main_banner_item_scent{

  color:#666;
  font-size:17px;
  padding:10px 0;
  letter-spacing: 1px;
  display:block;
}

@media screen and (max-width:768px) {
  .main_banner_text > h1{
    font-size:35px;
  }
  .main_banner_text > span{
    font-size:14px;
  }
  .shop_now{ 
    font-size:10px;
    padding:10px 23px;
    margin: 20px auto 0;
  }
  .main_banner_item_kind > p {
    font-size:18px;
  }
  .main_banner_item_scent{
    font-size:12px;
    padding: 8px 0;
  }
}

@media screen and (max-width:460px){
  .main_banner_type {
    padding: 15px 0 110px;
    flex-wrap: wrap;
  }
  .main_banner_item{
    width:100%;
  }
  .main_banner_item_kind > p {
    padding-bottom:40px;
  }

}
/* best candle */



.best_candle_type{
  display:flex;
  justify-content: center;;
  padding:55px 0 140px;
  text-align:center;
  
}
.best_candle_item{
  width:16.666667%;
    padding:0 10px;
}
.best_candle_type_images{
  width:100%;
}
.best_candle_item > p {
  font-weight:900;
  font-size:18px;
  display:block;
  padding-top:10px;
  color:#222;
  
}

@media screen and (max-width:768px){
  .best_candle_item > p {
    font-size: 15px;
   
}
  }


@media screen and (max-width:460px){
  .best_candle {
    border-top: none;
}
  .best_candle_type {
    flex-wrap: wrap;
  }

  .best_candle_item {
    width: 50%;
 
  }
  .best_candle_item > p {
    font-weight: 400;
    font-size: 13px;
    padding-bottom:35px;
    
}
}
/* aromaroom candle*/

.aromaroom_candle_type{
  display:flex;
  flex-wrap:wrap;
  padding:40px 0 70px;;
  
}
.aromaroom_candle_item{
  width:16.66667%;
  padding:10px;
}

@media screen and (max-width:460px){
  .aromaroom_candle_item {
    width: 50%;
    
}
}


/* footer */
footer{
  border-top:1px solid black; 
}
footer > .inner{
  text-align:center;
}
.footer_logo{
  margin:30px 0;
}

.footer_text_area{
  color:#949494;
  font-size:12px;
  padding:0 0 30px 0;
}
.footer_text_area span{
  padding:0 10px;
}

